.header {
    padding: 90px;
    text-align: left;
    color: rgb(70, 66, 66);
    font-size: 20px;
}

@media (max-width: 629px) {
    #about-us {
        display: none;
    }
}
.h1-judul {
    position: relative;
    left: 20px;
    top: 30px;
}
.p-judul {
    position: relative;
        top: 50px;
        font-size: 20px;
        left: 20px;
}
.fade-in-about-us{
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#about-us {
    position: relative;
    left: 800px;
    bottom: 100px;
}

