.navbar-brand {
  font-family: Viga;
  font-size: 32px;
}

@media (min-width: 992px) {
  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid white;
    width: 60%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
}
